<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{system/base/layout}">
<div layout:fragment="content">

    <div class="container" style="width: 1400px">
        <h1>景点预订管理</h1>
<!--            <form name="search-form"  class="form-inline m-b-10 clearfix" th:action="@{/system/attractionsOrderListSelectUI}"-->
<!--                  id="search-form">-->
<!--                <div class="news-detail-box">-->
<!--                    <div class="news-detail-content">-->
<!--                        <div align="left" style="float:left">-->
<!--                            <label class="control-label">开始时间</label>-->
<!--                            <input id="begindate"  type="date" name="begindate"  value="2015-09-24" min="2021-09-16" max="2099-09-26"/>-->
<!--                            <label class="control-label">结束时间</label>-->
<!--                            <input id="enddate"  type="date" name="enddate"  value="2015-09-24" min="2021-09-16" max="2099-09-26"/>-->
<!--                            <label class="control-label">用户姓名</label>-->
<!--                            <input id="name"  type="text" name="describe"/>-->
<!--                            <button type="button" class="button" onclick="selectFor()">查询</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </form>-->
        <script th:inline="javascript">

            function selectFor() {
                $.ajax({
                    url: '/travel/system/attractionsOrderListSelectUI',
                    data: $("#search-form").serialize(),
                    type: 'post',
                    dataType: 'json',
                    success: function (result) {
                        if (result.code == 200) {
                            window.location.href = "/system/attractionsOrderListSelectUI";
                        }else {
                            alert(result.message);
                        }
                    }
                })
            }
        </script>
            <div class="col-md-12 column">
                <table class="table table-hover table-condensed">
                    <thead>
                    <tr>
                        <th width="170px">username</th>
                        <th width="170px">attractionsname</th>
                        <th width="150px">begindate</th>
                        <th width="150px">enddate</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="userAttractions:${page.content}">
                        <td th:text="${userAttractions.user.name}"></td>
                        <td th:text="${userAttractions.attractions.name}"></td>
                        <td th:text="${userAttractions.begindate}"></td>
                        <td th:text="${userAttractions.enddate}"></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:insert="~{base/pageable}"></div>
        <!--弹框-->
        <div class="modal fade" id="exampleModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        <form method="post" name="insertPassword"
                              id="insertPassword" class="form-horizontal">
                            <!--隐藏的-->
                            <input type="text" id="id" name="id" hidden>
                            <div class="form-group m-b-10" style="text-align:right">
                                <label class="col-sm-4 control-label">
                                    <label style="color: red">*</label>密码:</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" id="password" name="password">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
                        <button type="button" class="btn btn-info" onclick="saveForm()">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript">




        function updatePassword(id) {
            $.ajax({
                url: '/travel/system/getUserById',
                data: {"id": id},
                type: 'post',
                dataType: 'json',
                success: function (result) {
                    if (result.code == 200) {
                        var user = result.data;
                        //全部清空
                        $('#exampleModalLabel').text('修改密码');
                        //id
                        $('#id').val(user.id);
                        //username
                        $('#username').val(user.username);
                        //password
                        $('#password').val(user.password);
                        //name
                        $('#name').val(user.name);
                        //显示模态框
                        $('#exampleModal').modal('show')
                    }
                }
            });
        }

        function saveForm() {
            //password
            var password = $('#password').val();

            if ($.trim(password) === '') {
                layer.msg("密码不能为空");
                return;
            }

            $.ajax({
                url: '/travel/system/saveUser',
                data: $("#insertPassword").serialize(),
                type: 'post',
                dataType: 'json',
                success: function (result) {
                    if (result.code === 200) {
                        window.location.href = "/travel/system/userListUI";
                    } else {
                        layer.open({
                            title: '错误提示',
                            content: result.message
                        });
                    }
                }
            })
        }
    </script>
</div>
</html>
